* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
}

.container {
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.bg--primary {
  background: #0066b8;
}

.text--primary {
  color: #0066b8;
}

.bg--dark-primary {
  background: #25252b;
}

.text--dark-primary {
  color: #25252b;
}

.bg--dark-secondary {
  background: #2c2c32;
}

.text--dark-secondary {
  color: #2c2c32;
}

.bg--light-primary {
  background: #ffffff;
}

.text--light-primary {
  color: #ffffff;
}

.bg--light-secondary {
  background: #f5f5f5;
}

.text--light-secondary {
  color: #f5f5f5;
}

.d--flex {
  display: flex;
}

.d--grid {
  display: grid;
}

.d--block {
  display: block;
}

.text--key {
  text-align: center;
}

.text--key {
  text-align: justify;
}

.py--1 {
  padding: 1rem 0;
}

.ml--1 {
  margin-left: 1rem;
}

.py--2 {
  padding: 2rem 0;
}

.ml--2 {
  margin-left: 2rem;
}

.py--3 {
  padding: 3rem 0;
}

.ml--3 {
  margin-left: 3rem;
}

.py--4 {
  padding: 4rem 0;
}

.ml--4 {
  margin-left: 4rem;
}

.py--5 {
  padding: 5rem 0;
}

.ml--5 {
  margin-left: 5rem;
}

.py--6 {
  padding: 6rem 0;
}

.ml--6 {
  margin-left: 6rem;
}

.py--7 {
  padding: 7rem 0;
}

.ml--7 {
  margin-left: 7rem;
}

.py--8 {
  padding: 8rem 0;
}

.ml--8 {
  margin-left: 8rem;
}

.py--9 {
  padding: 9rem 0;
}

.ml--9 {
  margin-left: 9rem;
}

.py--10 {
  padding: 10rem 0;
}

.ml--10 {
  margin-left: 10rem;
}

.py--11 {
  padding: 11rem 0;
}

.ml--11 {
  margin-left: 11rem;
}

.py--12 {
  padding: 12rem 0;
}

.ml--12 {
  margin-left: 12rem;
}

.py--13 {
  padding: 13rem 0;
}

.ml--13 {
  margin-left: 13rem;
}

.py--14 {
  padding: 14rem 0;
}

.ml--14 {
  margin-left: 14rem;
}

.py--15 {
  padding: 15rem 0;
}

.ml--15 {
  margin-left: 15rem;
}

.py--16 {
  padding: 16rem 0;
}

.ml--16 {
  margin-left: 16rem;
}

.py--17 {
  padding: 17rem 0;
}

.ml--17 {
  margin-left: 17rem;
}

.py--18 {
  padding: 18rem 0;
}

.ml--18 {
  margin-left: 18rem;
}

.py--19 {
  padding: 19rem 0;
}

.ml--19 {
  margin-left: 19rem;
}

.py--20 {
  padding: 20rem 0;
}

.ml--20 {
  margin-left: 20rem;
}

.justify--start {
  justify-content: flex-start;
}

.align--start {
  align-items: flex-start;
}

.justify--end {
  justify-content: flex-end;
}

.align--end {
  align-items: flex-end;
}

.justify--between {
  justify-content: space-between;
}

.align--between {
  align-items: space-between;
}

.justify--around {
  justify-content: space-around;
}

.align--around {
  align-items: space-around;
}

.justify--center {
  justify-content: center;
}

.align--center {
  align-items: center;
}

.mb--1 {
  margin-bottom: 1rem;
}

.gap--1 {
  gap: 1rem;
}

.py--1 {
  padding: 1rem 0;
}

.mb--2 {
  margin-bottom: 2rem;
}

.gap--2 {
  gap: 2rem;
}

.py--2 {
  padding: 2rem 0;
}

.mb--3 {
  margin-bottom: 3rem;
}

.gap--3 {
  gap: 3rem;
}

.py--3 {
  padding: 3rem 0;
}

.mb--4 {
  margin-bottom: 4rem;
}

.gap--4 {
  gap: 4rem;
}

.py--4 {
  padding: 4rem 0;
}

.mb--5 {
  margin-bottom: 5rem;
}

.gap--5 {
  gap: 5rem;
}

.py--5 {
  padding: 5rem 0;
}

.mb--6 {
  margin-bottom: 6rem;
}

.gap--6 {
  gap: 6rem;
}

.py--6 {
  padding: 6rem 0;
}

.text--left {
  text-align: left;
}

.text--right {
  text-align: right;
}

.text--center {
  text-align: center;
}

.header {
  width: 100%;
  position: fixed;
  background: #2c2c32;
  z-index: 99;
}
.header__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
@media screen and (min-width: 500px) {
  .header__wrapper {
    display: flex;
    width: 100%;
  }
}
.header .brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header img {
  width: 2.5rem;
  height: 2.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.header h2 {
  font-size: 2rem;
  color: #ffffff;
}
@media screen and (min-width: 500px) {
  .header h2 {
    width: 18rem;
  }
}
.header__nav {
  position: absolute;
  top: -100rem;
  left: 0;
  width: 100%;
  height: 42vh;
  padding-top: 6rem;
  transition: 0.5s ease;
  z-index: -1;
  background: #25252b;
  overflow-y: auto;
}
@media screen and (min-width: 500px) {
  .header__nav {
    overflow-y: unset;
  }
}
.header__nav ul li {
  padding: 1rem 1.5rem;
  cursor: pointer;
}
.header__nav ul li a {
  font-size: 1.7rem;
  color: #ffffff;
}
.header__nav ul li:hover a {
  color: #ffffff;
}
@media screen and (min-width: 500px) {
  .header__nav ul li {
    padding: unset;
  }
  .header__nav ul li a {
    opacity: 0.5;
  }
  .header__nav ul li:hover a {
    opacity: 1;
  }
}
@media screen and (min-width: 500px) {
  .header__nav ul {
    align-items: end;
    gap: 2rem;
  }
}
.header__nav .header__right {
  color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
}
.header__nav .header__right i {
  cursor: pointer;
}
.header__nav .header__right i.fa-magnifying-glass {
  display: none;
}
@media screen and (min-width: 500px) {
  .header__nav .header__right i.fa-magnifying-glass {
    display: block;
    position: absolute;
    z-index: 1;
    right: 36rem;
    margin-top: 5px;
  }
}
.header__nav .header__right i.fa-arrow-down {
  position: absolute;
  left: 1.8rem;
  top: 5.1rem;
  z-index: 1;
}
@media screen and (min-width: 500px) {
  .header__nav .header__right i.fa-arrow-down {
    left: unset;
    right: 11rem;
    top: 5px;
  }
}
.header__nav .header__right a {
  color: #ffffff;
  font-size: 1.8rem;
  background: #0066b8;
  height: 100%;
}
.header__nav .header__right a:last-child {
  padding: 1rem 1.5rem;
  padding-left: 4rem;
}
@media screen and (min-width: 500px) {
  .header__nav .header__right a:last-child {
    padding: 1.5rem 3rem;
  }
}
@media screen and (min-width: 500px) {
  .header__nav .header__right a {
    position: absolute;
    padding: 1.45rem;
    top: -1.5rem;
    right: 0;
    background: #0066b8;
    border: 1px solid transparent;
    color: #ffffff;
    height: unset;
    transition: 0.5s ease;
  }
  .header__nav .header__right a:hover {
    background: #005ba4;
    color: #ffffff;
  }
}
.header__nav .header__right:hover a:last-child {
  background: #007de1;
}
.header__nav .header__right input {
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  background: #25252b;
  color: #ffffff;
  border: none;
  outline: none;
}
@media screen and (min-width: 500px) {
  .header__nav .header__right input {
    display: block;
    position: absolute;
    padding: 2rem;
    padding-left: 3rem;
    top: -1.5rem;
    right: 13.9rem;
    background: #3d3d42;
  }
  .header__nav .header__right input:hover {
    background: #515157;
  }
}
.header__nav.active {
  top: 0;
}
@media screen and (min-width: 500px) {
  .header__nav {
    z-index: unset;
    position: unset;
    height: unset;
    padding-top: unset;
    padding-left: unset;
    background: unset;
    top: 0;
    display: flex;
    justify-content: space-between;
  }
  .header__nav ul {
    display: flex;
  }
}
.header__bars i {
  padding: 0.5rem;
  color: #ffffff;
  font-size: 3rem;
  float: right;
}
@media screen and (min-width: 500px) {
  .header__bars {
    display: none;
  }
}

.btn {
  padding: 1.5rem 2rem;
  display: inline-block;
}

.btn--primary {
  background: #0066b8;
}

.version {
  background: #25252b;
  padding-top: 7rem;
}
@media screen and (min-width: 500px) {
  .version {
    padding-top: 6rem;
  }
}
.version p {
  text-align: center;
  color: #ffffff;
  max-width: 40rem;
  margin: 0 auto;
}
@media screen and (min-width: 500px) {
  .version p {
    max-width: unset;
  }
}
.version p a {
  font-weight: bold;
  color: #0098ff;
}
.version p a:hover {
  text-decoration: underline;
}

.banner {
  background: #2c2c32;
}
@media screen and (min-width: 500px) {
  .banner__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
  }
}
.banner__text {
  color: #ffffff;
}
.banner__text h1 {
  text-align: center;
  font-size: clamp(4rem, 6vw, 5rem);
  font-weight: normal;
}
.banner__text h1 span {
  font-weight: bold;
}
.banner__text p {
  margin: 2rem 0;
  color: rgba(255, 255, 255, 0.5333333333);
  text-align: center;
}
.banner__text p a {
  color: #0098ff;
}
.banner__text p a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 500px) {
  .banner__text {
    place-self: center;
  }
}
.banner__btns {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
}
.banner__btns a {
  color: #ffffff;
  text-align: center;
}
.banner__btns a span {
  font-size: 1.4rem;
}
.banner__btns a:hover {
  background: #005294;
}
.banner__btns button {
  border: unset;
  outline: unset;
  cursor: pointer;
}
.banner__btns button:hover {
  background: #005294;
}
.banner__btns button i {
  color: #ffffff;
}
.banner .platforms {
  display: flex;
  justify-content: center;
}
.banner .platforms p {
  position: relative;
  display: inline-block;
  background: #25252b;
  border-radius: 7rem;
  font-size: 1.5rem;
  opacity: 1;
  background: #25252b;
  padding: 1rem 2rem;
}
.banner .platforms p a {
  color: #0098ff;
}
.banner .platforms p::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #25252b;
  top: -1.5rem;
  right: 2rem;
}
.banner__img img {
  width: 100%;
}/*# sourceMappingURL=main.css.map */